<!-- ? Links -->
<div class="mx-auto mt-8">
  <!-- <p>
    {{ isLogin() ? 'Bạn chưa có tài khoản?' : 'Bạn đã có tài khoản?' }}
    <span
      class="cursor-pointer select-none font-semibold text-primary underline"
      (click)="switchState.emit()">
      {{ isLogin() ? 'Đăng ký' : 'Đăng nhập' }}
    </span>
  </p> -->
  @if (isLogin()) {
    <button
      (click)="switchState.emit()"
      class="inline-block font-semibold text-primary underline">
      Quên mật khẩu?
    </button>
  }
</div>

<!-- ? Policy -->
<p class="mx-auto w-[min(400px,100%)] p-4 pb-10 text-xs text-[#666]">
  Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
  <a href="#!" target="_blank" class="underline">điều khoản sử dụng</a>
  của chúng tôi
</p>
