<footer class="lesson-footer grid h-[50px] grid-cols-3">
  <!-- ? Q&A Panel -->
  <div class="flex items-center pl-3">
    <app-button-outline-gradient
      [tooltipText]="'Hỏi đáp & trợ giúp'"
      [imgSrc]="'./images/icons/question-mark.svg'"
      (click)="onOpenCommentModalClick()" />
  </div>

  <!-- ? Prev/Next Lesson -->
  <div class="flex items-center justify-center gap-3">
    <button class="btn prev-btn">
      <span class="pi pi-arrow-left"></span>
      <span>Bài Trước</span>
    </button>
    <button
      class="btn next-btn"
      tooltipPosition="top"
      [autoHide]="false"
      pTooltip="Phím tắt: ctrl + enter">
      <span>Bài Trước</span>
      <span class="pi pi-arrow-right"></span>
    </button>
  </div>

  <!-- ? Open/Close Sidebar -->
  <div
    class="flex h-full cursor-pointer select-none items-center justify-end pr-3"
    (click)="onToggleSidebarClick()">
    <span class="mr-4 text-[#45494f]">60. Hoàn thành bài học</span>
    <app-button-outline-gradient
      [imgSrc]="iconSrc"
      (click)="onToggleSidebarClick()" />
  </div>
</footer>
