<div class="absolute left-0 top-12 z-[10] w-full">
  <div
    class="animate-fadeInForward overflow-hidden rounded-[10px] bg-white shadow-filterBox dark:shadow-filterBoxDark transition-all duration-300 ease-in-out will-change-[opacity,transform]">
    <div
      class="max-h-[calc(90vh-66px)] min-h-[50px] w-full min-w-[230px] overflow-y-auto overscroll-contain px-6 py-3">
      <p class="flex items-center gap-2 pt-[6px] text-sm">
        <span class="pi pi-search font-semibold"></span>
        Kết quả cho 'CSS'
      </p>
      <div class="filter-results">
        <div class="filter__title">
          <h5>
            <span>Môn Học</span>
            <a href="#!">Xem Thêm</a>
          </h5>
        </div>
        <ul class="filter__list">
          <li class="filter__item">
            <a href="#!" class="filter__link">
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/2.png"
                alt="HTML CSS từ Zero đến Hero" />
              <span>HTML CSS từ Zero đến Hero</span>
            </a>
          </li>
          <li class="filter__item">
            <a href="#!" class="filter__link">
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                alt="HTML CSS Pro" />
              <span>HTML CSS Pro</span>
            </a>
          </li>
          <li class="filter__item">
            <a href="#!" class="filter__link">
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/27/64e184ee5d7a2.png"
                alt="Ngôn ngữ SASS" />
              <span>Ngôn ngữ SASS</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="filter">
        <div class="filter__title">
          <h5>
            <span>Video</span>
            <a href="#!">Xem Thêm</a>
          </h5>
        </div>
        <ul class="filter__list">
          <li class="filter__item">
            <a href="#!" class="filter__link">
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/2.png"
                alt="HTML CSS từ Zero đến Hero" />
              <span>HTML CSS từ Zero đến Hero</span>
            </a>
          </li>
          <li class="filter__item">
            <a href="#!" class="filter__link">
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                alt="HTML CSS Pro" />
              <span>HTML CSS Pro</span>
            </a>
          </li>
          <li class="filter__item">
            <a href="#!" class="filter__link">
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/27/64e184ee5d7a2.png"
                alt="Ngôn ngữ SASS" />
              <span>Ngôn ngữ SASS</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
