<div
  class="absolute right-0 top-11 z-[10]"
  clickOutsideSubmenu
  (clickOutside)="clickOutside.emit()">
  <div
    class="animate-fadeInForward overflow-hidden rounded-[10px] bg-white shadow-filterBox transition-all duration-300 ease-in-out will-change-[opacity,transform]">
    <div class="min-w-[230px] overflow-y-auto overscroll-contain px-6 py-3">
      <!-- ? User -->
      <div class="user">
        <!-- ? User Information -->
        <a href="#!" class="flex items-center gap-5">
          <div
            class="avatar-wrapper relative my-[10px] h-[60px] w-[60px] rounded-full p-1">
            <img
              src="https://files.fullstack.edu.vn/f8-prod/user_avatars/378826/661cf89e8d5a0.jpg"
              alt="Quy Nguyen"
              class="h-full w-full rounded-full object-cover" />
            <img
              src="./images/icons/user-info.svg"
              alt="User Information Icon"
              class="absolute right-[-14px] top-[-1px] z-[9999] h-5 w-5" />
          </div>
          <div class="user__info">
            <h5 class="text-base font-semibold text-[#292929]">Quy Nguyen</h5>
            <span class="mt-2 text-[#757575]">&#64;15795</span>
          </div>
        </a>
        <!-- ? List -->
        <div class="separator"></div>
        <ul>
          <li>
            <a href="#!" class="link">Trang Cá Nhân</a>
          </li>
          <li class="hidden sm:block">
            <a href="#!" class="link">Thông báo</a>
          </li>
        </ul>
        <div class="separator"></div>
        <ul class="hidden md:block">
          <li>
            <a href="#!" class="link">Môn học của tôi</a>
          </li>
        </ul>
        <div class="separator hidden md:block"></div>
        <ul>
          <li>
            <a href="#!" class="link">Cài Đặt</a>
          </li>
          <li>
            <a href="#!" class="link">Đăng Xuất</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
