<div
  class="absolute right-0 top-11 z-[10]"
  clickOutsideSubmenu
  (clickOutside)="clickOutside.emit()">
  <div
    class="animate-fadeInForward overflow-hidden rounded-[10px] bg-white shadow-filterBox transition-all duration-300 ease-in-out will-change-[opacity,transform] dark:bg-dark-500 dark:shadow-filterBoxDark">
    <div class="min-w-[230px] overflow-y-auto overscroll-contain px-6 py-3">
      <!-- ? User -->
      <div class="user">
        <!-- ? User Information -->
        <a routerLink="/profile" class="flex items-center gap-5">
          <div
            class="avatar-wrapper relative my-[10px] h-[50px] w-[50px] shrink-0 rounded-full p-1">
            <img
              [src]="user()?.avatarUrl"
              [alt]="user()?.fullName"
              class="h-full w-full rounded-full object-cover" />
            <img
              src="./images/icons/user-info.svg"
              alt="User Information Icon"
              class="absolute right-[-14px] top-[-1px] z-[9999] h-5 w-5" />
          </div>
          <div class="user__info">
            <h5 class="text-base font-semibold">{{ user()?.fullName }}</h5>
          </div>
        </a>
        <!-- ? List -->
        <div class="separator bg-[#0000000d] dark:bg-[#323c4a]"></div>
        <ul>
          <li>
            <a routerLink="/profile" class="link">
              <span class="pi pi-user"></span>
              Trang Cá Nhân
            </a>
          </li>
          <li class="hidden sm:block">
            <button class="link" (click)="openEnrollModal()">
              <span class="pi pi-plus"></span>
              Tham gia lớp học
            </button>
          </li>
        </ul>

        <div
          class="separator hidden bg-[#0000000d] md:block dark:bg-[#323c4a]"></div>

        <ul>
          <li>
            <button class="link" (click)="toggleTheme()">
              <span
                class="pi"
                [class.pi-moon]="theme() === 'light'"
                [class.pi-sun]="theme() === 'dark'"></span>
              Bật giao diện {{ theme() === 'dark' ? 'sáng' : 'tối' }}
            </button>
          </li>
        </ul>

        <div class="separator bg-[#0000000d] dark:bg-[#323c4a]"></div>

        <ul>
          <li>
            <a routerLink="/settings" class="link">
              <span class="pi pi-cog" style="font-size: 16px"></span>
              Cài Đặt
            </a>
          </li>
          <li>
            <button class="link" (click)="logout()">
              <span class="pi pi-sign-out"></span>
              Đăng Xuất
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
