<div class="flex flex-col items-center gap-5">
  <!-- ? Image Preview -->
  <div
    class="relative w-[calc(100%-2px)] overflow-hidden rounded-2xl object-cover pt-[45%]">
    <img
      [src]="classDetail().backgroundImageUrl"
      [alt]="classDetail().name"
      class="absolute left-0 top-0 z-[1] h-full w-full object-right" />
    <div
      class="image-overlay absolute left-0 top-0 z-[2] h-full w-full opacity-80"></div>
  </div>

  <!-- ? Classroom Information -->
  <div class="flex flex-col gap-6">
    <button
      class="h-[32px] min-w-[180px] rounded-full bg-primary text-white transition-opacity duration-200 ease-in hover:opacity-90"
      (click)="redirect()">
      <span
        class="flex h-full w-full items-center justify-center px-4 py-1 font-bold uppercase tracking-[1px]">
        Vào học ngay
      </span>
    </button>
    <ul>
      <li class="item">
        <fa-icon [icon]="'gauge-high'" class="dark:text-[#ffffffcc]"></fa-icon>
        <span class="dark:text-[#ffffffcc]">Trình độ cơ bản</span>
      </li>
      <li class="item">
        <fa-icon [icon]="'film'" class="dark:text-[#ffffffcc]"></fa-icon>
        <span class="dark:text-[#ffffffcc]">
          Tổng số
          <strong>{{ classDetail().countLessonMaterial }}</strong>
          <!-- <strong>{{ 10 }}</strong> -->
          bài học
        </span>
      </li>
      <li class="item dark:text-[#ffffffcc]">
        <fa-icon [icon]="'clock'" class="dark:text-[#ffffffcc]"></fa-icon>
        <span class="dark:text-[#ffffffcc]">
          Thời lượng
          <strong>01 giờ 34 phút</strong>
        </span>
      </li>
      <li class="item">
        <fa-icon
          [icon]="'battery-full'"
          class="dark:text-[#ffffffcc]"></fa-icon>
        <span class="dark:text-[#ffffffcc]">Học mọi lúc mọi nơi</span>
      </li>
    </ul>
  </div>
</div>
