ul li + li {
  margin-top: 10px;
}

.comment-item {
  display: flex;
  align-items: center;
  padding: 6px 8px 6px 12px;
  color: #2e3441;
  cursor: pointer;
}

.comment-item:hover {
  border-radius: 4px;
  background-color: #f2f9ff;
}

.comment-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comment-category {
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: auto;
  font-size: 13px;
  font-weight: 400;
  color: #808b9a;
  background-color: #f6f7f9;
  white-space: nowrap;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 24px;
  margin-top: 2px;
  cursor: pointer;
}

.prev.disabled span,
.next.disabled span {
  color: #2e3441 !important;
  cursor: default;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 24px;
  border-radius: 4px;
  margin-right: 4px;
  font-weight: 600;
  color: #0093fc;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
}

.page:hover {
  background-color: #f2f9ff;
}

.page.active {
  color: #fff;
  background-color: rgb(0, 147, 252);
}
