<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="max-h-[60vh] min-h-[122px] overflow-y-auto pb-[30px]">
    <app-form-control
      label="Mật khẩu mới"
      type="password"
      placeholder="Nhập mật khẩu mới của bạn"
      [validatePassword]="true"
      [name]="'password'"
      [submitted]="submitted()"
      formControlName="password"
      [required]="true"
      [errorMessages]="{
        passwordWeak: 'Độ khó mật khẩu chưa đạt yêu cầu.',
      }">
    </app-form-control>
    <div class="mx-1 my-[10px]">
      <div class="flex gap-1">
        <div
          class="h-[5px] flex-1 rounded-[4px]"
          [ngClass]="{
            'bg-[#e1e4eb]': !passwordLevel(),
            'bg-[#d43031]': passwordLevel()! < 4,
            'bg-[#faa61b]': passwordLevel() === 4,
            'bg-[#02875a]': passwordLevel() === 5,
          }"></div>
        <div
          class="h-[5px] flex-1 rounded-[4px]"
          [ngClass]="{
            'bg-[#e1e4eb]': !passwordLevel() || passwordLevel()! < 3,
            'bg-[#d43031]': passwordLevel() === 3,
            'bg-[#faa61b]': passwordLevel() === 4,
            'bg-[#02875a]': passwordLevel() === 5,
          }"></div>
        <div
          class="h-[5px] flex-1 rounded-[4px]"
          [ngClass]="{
            'bg-[#e1e4eb]': !passwordLevel() || passwordLevel()! < 4,
            'bg-[#faa61b]': passwordLevel() === 4,
            'bg-[#02875a]': passwordLevel() === 5,
          }"></div>
        <div
          class="h-[5px] flex-1 rounded-[4px]"
          [ngClass]="{
            'bg-[#e1e4eb]': passwordLevel() !== 5,
            'bg-[#02875a]': passwordLevel() === 5,
          }"></div>
      </div>
      <div class="py-2 text-right text-xs font-medium text-[#666]">
        {{
          passwordLevel() &&
            (passwordLevel() === 5
              ? 'Mật khẩu mạnh'
              : passwordLevel() === 4
                ? 'Mật khẩu trung bình'
                : 'Mật khẩu yếu')
        }}
      </div>
    </div>
    <app-form-control
      label="Nhập lại mật khẩu mới"
      type="password"
      placeholder="Nhập lại mật khẩu mới"
      [name]="'confirmPassword'"
      formControlName="confirmPassword"
      [submitted]="submitted()"
      [required]="true"
      [confirmPassword]="form.get('newPassword')?.value"
      [errorMessages]="{
        required: 'Vui lòng xác nhận mật khẩu',
      }">
    </app-form-control>
  </div>
  <footer>
    <app-button text="Đổi mật khẩu" buttonType="submit" type="rounded" />
  </footer>
</form>
