<div class="e-container-fluid">
  <div class="mt-3 px-11 pb-16">
    <div class="e-row">
      <div class="e-col-9 sm:w-full">
        <article class="flex flex-col gap-[30px]">
          <!-- ? Heading -->
          <div>
            @if (isLoadingGetClass()) {
              <p-skeleton height="36px" width="50%" borderRadius="8px" />
              <p-skeleton
                styleClass="mt-4"
                height="14px"
                width="100%"
                borderRadius="8px" />
              <p-skeleton
                styleClass="mt-2"
                height="14px"
                width="100%"
                borderRadius="8px" />
              <p-skeleton
                styleClass="mt-2"
                height="14px"
                width="70%"
                borderRadius="8px" />
            } @else {
              <h2 class="text-[32px] font-bold">
                {{ classDetail()?.name }}
              </h2>
            }
          </div>

          <!-- ? Classroom Contents -->
          <div>
            <h3 class="text-xl font-bold">Danh sách bài học</h3>
            <div class="mt-4 flex items-center justify-between">
              <ul class="flex items-center">
                @if (isLoadingGetClass()) {
                  <li>
                    <p-skeleton
                      height="14px"
                      width="100px"
                      borderRadius="8px" />
                  </li>
                  <li>
                    <p-skeleton
                      styleClass="ml-2"
                      height="14px"
                      width="100px"
                      borderRadius="8px" />
                  </li>
                  <li>
                    <p-skeleton
                      styleClass="ml-2"
                      height="14px"
                      width="100px"
                      borderRadius="8px" />
                  </li>
                } @else {
                  <li>
                    <strong>{{ classDetail()?.countLessonMaterial }}</strong>
                    bài học
                  </li>
                  <li
                    class="mx-2 size-1 rounded-full bg-black dark:bg-[#fffc]"></li>
                  <li>
                    Thời lượng
                    <strong>{{ totalDuration() }}</strong>
                  </li>
                }
              </ul>
            </div>

            <!-- ? Folders -->
            <div class="mt-5">
              @if (isLoadingGetFolders()) {
                @for (item of skeletonItems; track $index) {
                  <app-class-detail-folder-skeleton />
                }
              } @else {
                @for (
                  folder of foldersAndLessonMaterials();
                  track folder.id;
                  let i = $index
                ) {
                  <app-folder
                    [classId]="classId()"
                    [folder]="folder"
                    [index]="$index" />
                }
              }
            </div>
          </div>
        </article>
      </div>
      <div class="e-col-3 sm:hidden">
        <div
          class="sticky top-24 mb-16 ml-6 rounded-2xl bg-white pb-5 dark:bg-[#191d1e]">
          @if (isLoadingGetClass() || isLoadingGetFolders()) {
            <app-watch-lesson-card-skeleton />
          } @else {
            <classroom-watch-lesson-badge
              [classDetail]="classDetail()!"
              [totalDuration]="totalDuration()" />
          }
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed bottom-[60px] left-0 right-0 z-10 hidden items-center border-t border-t-gray-100 bg-white px-5 py-[10px] sm:flex dark:bg-[#191d1e]">
  <button
    class="h-[32px] w-full rounded-full bg-primary text-white transition-opacity duration-200 ease-in hover:opacity-90"
    (click)="redirect()">
    <span
      class="flex h-full w-full items-center justify-center px-4 py-1 font-bold uppercase tracking-[1px]">
      Vào học ngay
    </span>
  </button>
</div>
