<div
  class="relative flex h-full flex-col rounded-2xl bg-[#00000008] transition-[transform,box-shadow] duration-200 ease-linear hover:-translate-y-1 hover:shadow-subjectCard">
  @if (subject().isRecommend) {
    <div
      class="pointer-events-none absolute left-3 top-3 z-[1] w-[26px] rounded-lg bg-[#0000004d] p-[5px]">
      <img
        src="./images/icons/crown-recommend.svg"
        alt="Recommend"
        class="w-full" />
    </div>
  }
  <a
    href="#!"
    class="relative block w-full overflow-hidden rounded-tl-2xl rounded-tr-2xl object-cover pt-[56.25%]">
    <img
      [src]="subject().subjectImage"
      [alt]="subject().title"
      class="absolute left-0 top-0 h-full w-full object-cover" />
  </a>
  <div class="flex grow flex-col gap-3 px-5 py-4 sm:gap-2 sm:p-[10px]">
    <h3 class="line-clamp-2 break-words text-base font-semibold text-[#292929]">
      <a href="#!">{{ subject().title }}</a>
    </h3>
    <p class="text-sm font-semibold text-primary">Khối {{ subject().grade }}</p>
    @if (withProgress()) {
      <div
        class="relative mt-2 h-2 w-full overflow-hidden rounded bg-[#ddd]"
        tooltipPosition="top"
        pTooltip="{{ subject().progress + '%' }}">
        <div
          class="absolute bottom-0 left-0 top-0 bg-primary"
          [style.width.%]="subject().progress"></div>
      </div>
    }
    <div class="mt-[18px] flex items-center justify-between sm:mt-[10px]">
      <div class="flex items-center gap-[6px] lg:gap-1 md:hidden">
        <figure class="h-[18px] w-[18px] rounded-[50%]">
          <img
            [src]="subject().creatorAvatar"
            [alt]="subject().createdBy"
            class="h-full w-full rounded-[50%] object-cover" />
        </figure>
        <p class="text-[#666]">{{ subject().createdBy }}</p>
      </div>
      <div class="flex items-center gap-[6px] text-[#666] lg:gap-1">
        <fa-icon [icon]="'circle-play'"></fa-icon>
        <p>{{ subject().mediaNumbers }}</p>
      </div>
      <div class="flex items-center gap-[6px] text-[#666] lg:gap-1">
        <fa-icon [icon]="'clock'"></fa-icon>
        <p>{{ subject().duration }}</p>
      </div>
    </div>
  </div>
</div>
