<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (!isPasswordValid()) {
    <header class="mt-[10px]">
      <h2 class="text-2xl font-semibold dark:text-[#242424]">
        Xác minh mật khẩu
      </h2>
      <p class="mt-2 text-[15px] opacity-90">
        Để chắc chắn rằng bạn là chủ sở hữu tài khoản, vui lòng nhập mật khẩu
        hiện tại của bạn
      </p>
    </header>
    <div class="max-h-[60vh] min-h-[122px] overflow-y-auto pb-[30px]">
      <app-form-control
        formControlName="currentPassword"
        name="currentPassword"
        type="password"
        label="Mật khẩu hiện tại"
        placeholder="Nhập mật khẩu hiện tại của bạn"
        [required]="true">
      </app-form-control>
      <div class="mb-4 ml-[5px] mt-[10px]">
        <button
          type="button"
          class="text-[15px] font-medium text-primary underline"
          (click)="openForgotPassword()">
          Bạn quên mật khẩu ư?
        </button>
      </div>
    </div>
  } @else {
    <header class="mt-[10px]">
      <h2 class="text-2xl font-semibold">Xác nhận OTP</h2>
      <p class="mt-2 text-[15px] opacity-90">
        Nhập mã OTP đã được gửi đến email của bạn. Mã này sẽ được sử dụng để
        kích hoạt xác minh 2 bước cho tài khoản của bạn.
      </p>
    </header>
    <div class="max-h-[60vh] overflow-y-auto pb-[20px]">
      <div class="mt-5 flex w-full items-center justify-center overflow-hidden">
        <p-inputotp
          formControlName="otpCode"
          name="otpCode"
          size="large"
          [invalid]="form.get('otpCode')?.invalid ?? false"
          [length]="6"
          [integerOnly]="true" />
      </div>
    </div>
    <div class="mt-[10px] text-center">
      <p>
        Không nhận được mã OTP?
        <span class="cursor-pointer text-primary">Gửi lại</span>
      </p>
    </div>
  }
  <footer>
    <div [class.mt-5]="isPasswordValid()">
      <app-button
        text="Xác nhận"
        buttonType="submit"
        variant="rounded"
        [loading]="isLoading()" />
    </div>
  </footer>
</form>

@if (isForgotPassword()) {
  <app-forget-password-form (close)="closeForgotPassword()" />
}
