<form (ngSubmit)="onSubmit()">
  @if (!isEmailValid()) {
    <header class="mt-[10px]">
      <h2 class="text-2xl font-semibold">Xác nhận email</h2>
      <p class="mt-2 text-[15px] opacity-90">
        Nhập email của bạn để nhận mã xác minh. Mã này sẽ được sử dụng để kích
        hoạt xác minh 2 bước cho tài khoản của bạn.
      </p>
    </header>
    <div class="max-h-[60vh] min-h-[122px] overflow-y-auto pb-[30px]">
      <app-form-control
        label="Địa chỉ email"
        type="email"
        placeholder="Nhập địa chỉ email của bạn"
        [name]="'email'"
        [email]="true"
        [required]="true"
        [(ngModel)]="email">
      </app-form-control>
    </div>
  } @else {
    <header class="mt-[10px]">
      <h2 class="text-2xl font-semibold">Xác nhận OTP</h2>
      <p class="mt-2 text-[15px] opacity-90">
        Nhập mã OTP đã được gửi đến email của bạn. Mã này sẽ được sử dụng để
        kích hoạt xác minh 2 bước cho tài khoản của bạn.
      </p>
    </header>
    <div class="max-h-[60vh] overflow-y-auto pb-[20px]">
      <div class="mt-5 flex w-full items-center justify-center overflow-hidden">
        <p-inputotp
          name="otp"
          [(ngModel)]="otp"
          [integerOnly]="true"
          size="large" />
      </div>
    </div>
    <div class="mt-[10px] text-center">
      <p>
        Không nhận được mã OTP?
        <span class="cursor-pointer text-primary">Gửi lại</span>
      </p>
    </div>
  }
  <footer>
    <div [class.mt-5]="isEmailValid()">
      <app-button [text]="'Xác nhận'" [type]="'rounded'" />
    </div>
  </footer>
</form>
