<footer class="lesson-footer grid h-[50px] grid-cols-3">
  <!-- ? Q&A Panel -->
  <div class="comment-panel flex items-center pl-3">
    <app-button-outline-gradient
      [variant]="'icon'"
      [tooltipText]="'Hỏi đáp & trợ giúp'"
      [imgSrc]="'./images/icons/question-mark.svg'"
      (click)="onOpenCommentModalClick()" />
  </div>

  <!-- ? Prev/Next Lesson -->
  <div class="flex items-center justify-center gap-3">
    <!-- ? Prev Button -->
    <app-button-outline-gradient [variant]="'text'" [text]="'Bài Trước'">
      <span icon-left class="pi pi-arrow-left"></span>
    </app-button-outline-gradient>
    <!-- ? Next Button -->
    <app-button-outline-gradient
      [variant]="'outline'"
      [text]="'Bài tiếp theo'"
      [tooltipText]="'Phím tắt: ctrl + enter'">
      <span icon-right class="pi pi-arrow-right"></span>
    </app-button-outline-gradient>
  </div>

  <!-- ? Open/Close Sidebar -->
  <div
    class="flex h-full cursor-pointer select-none items-center justify-end pr-3"
    (click)="onToggleSidebarClick()">
    <span
      [pTooltip]="currentFolderName()"
      tooltipPosition="top"
      class="current-lesson mr-4 line-clamp-1 max-w-[300px] text-[#45494f] md:max-w-[150px] dark:text-[#fffc]">
      {{ currentFolderIndex() }}. {{ currentFolderName() }}
    </span>
    <app-button-outline-gradient
      [variant]="'icon'"
      [imgSrc]="iconSrc"
      (click)="onToggleSidebarClick()" />
  </div>
</footer>
