<div
  class="profile-card relative h-[62px] overflow-hidden border-b border-[#dee3e9] px-4 transition-colors duration-100 hover:cursor-pointer hover:bg-[#0000000d]"
  [class]="avatarUrl() && '!h-[104px]'">
  <div
    class="flex h-full flex-col justify-center gap-[1px]"
    [class]="avatarUrl() && '!gap-[10px]'">
    <h4 class="shrink-0 text-base font-semibold">{{ title() }}</h4>
    @if (avatarUrl()) {
      <img
        src="https://accounts.fullstack.edu.vn/assets/logo-lV2rGpF0.png"
        alt="avatar"
        class="size-[50px] rounded-full object-cover" />
    } @else {
      <span
        class="line-clamp-1 overflow-hidden pr-[50px] text-[15px] opacity-80"
        >{{ subtitle() || 'Chưa cập nhật' }}</span
      >
    }
  </div>
  <button
    class="absolute right-0 top-0 flex h-full cursor-pointer items-center gap-[6px] px-4 opacity-70 outline-none">
    <i class="fa-solid fa-chevron-right"></i>
  </button>
</div>
<ng-content />
