<div class="w-full overflow-hidden text-[#242424]">
  <div class="w-full text-left">
    <div class="flex justify-between">
      @if (label()) {
        <div class="flex justify-between">
          <label class="my-[10px] ml-2 block font-semibold">
            {{ label() }}
          </label>
        </div>
      }
      @if (redirectLink()) {
        <a
          tabindex="-1"
          routerLink="{{ redirectLink().href }}"
          class="mb-2 block font-semibold text-[#f33a58]">
          {{ redirectLink().value }}
        </a>
      }
    </div>
    <div
      class="relative flex overflow-hidden rounded-[44px] border-[1.5px] bg-white"
      [ngClass]="{
        'h-[44px]': !isTextarea(),
        'border-[#f33a58]':
          control.invalid && (control.touched || submitted()) && !disabled(),
        'focus-within:border-[#f33a58]':
          control.invalid && (control.touched || submitted()) && !disabled(),
        'border-gray-200': !(
          control.invalid &&
          (control.touched || submitted()) &&
          !disabled()
        ),
        'focus-within:border-primary':
          !control.invalid || (!control.touched && !submitted() && !disabled()),
        'bg-[#e1e6f2]': readOnly() === true,
        'select-none': disabled(),
      }"
      [style.backgroundColor]="
        control.invalid && (control.touched || submitted()) && !disabled()
          ? '#ff00001a'
          : ''
      ">
      @if (options() && options().length > 0) {
        <div class="custom-options-container relative w-full">
          @if (showSearchBox) {
            <input
              type="text"
              class="mb-2 w-full rounded border px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary"
              placeholder="Tìm kiếm..."
              [value]="searchTerm()"
              (input)="onSearchInput($event)" />
          }
          <select
            [formControl]="control"
            class="custom-select flex w-full items-center border-none bg-transparent py-3 pl-4 pr-[42px] leading-none outline-none placeholder:text-black/60"
            (blur)="handleTouched()">
            <option value="" disabled selected hidden>
              {{ placeholder() }}
            </option>
            @for (opt of filteredOptions(); track $index) {
              <option
                [value]="opt.value"
                class="custom-option-inner !rounded-none !border-none">
                {{ opt.label }}
              </option>
            }
          </select>
        </div>
      } @else if (isTextarea()) {
        <textarea
          [readOnly]="readOnly()"
          class="flex max-h-[300px] min-h-[120px] w-full resize-y overflow-y-auto border-none bg-transparent py-3 pl-4 pr-[42px] leading-normal outline-none placeholder:text-black/60"
          [class.text-[#f33a58]]="
            control.invalid && control.touched && control.dirty
          "
          [placeholder]="placeholder()"
          [formControl]="control"
          [rows]="rows()"
          (blur)="handleTouched()"></textarea>
      } @else {
        <input
          [readOnly]="readOnly() || disabled()"
          class="flex w-full items-center border-none bg-transparent py-3 pl-4 pr-[42px] leading-none outline-none placeholder:text-black/60"
          [class.text-[#f33a58]]="
            control.invalid && control.touched && control.dirty
          "
          [ngClass]="{
            'text-[#f33a58]':
              control.invalid && control.touched && control.dirty,
            '!select-none !bg-[#16182329] pr-[140px]': disabled(),
          }"
          [type]="inputType"
          [placeholder]="placeholder()"
          [formControl]="control"
          (blur)="handleTouched()" />
      }
      @if (
        control.invalid &&
        (control.touched || submitted()) &&
        type() !== 'password' &&
        (!options() || options().length === 0)
      ) {
        <div class="absolute right-[14px] top-1/2 -translate-y-1/2">
          <i
            class="fa-solid fa-triangle-exclamation animate-shake text-base text-[#f33a58]">
          </i>
        </div>
      } @else if (
        type() === 'password' && (!options() || options().length === 0)
      ) {
        @if (isShowPassword()) {
          <i
            tabindex="-1"
            class="fa-solid fa-eye-slash absolute right-[18px] top-[20%] block text-base text-[#666]"
            (mousedown)="$event.preventDefault()"
            (click)="
              toggleShowPassword();
              $event.stopPropagation();
              $event.preventDefault()
            "></i>
        } @else {
          <i
            tabindex="-1"
            class="fa-solid fa-eye absolute right-[18px] top-[20%] block text-base text-[#666]"
            (mousedown)="$event.preventDefault()"
            (click)="
              toggleShowPassword();
              $event.stopPropagation();
              $event.preventDefault()
            "></i>
        }
      }
    </div>

    @if (
      (control.invalid && control.touched && !disabled()) ||
      (control.invalid && submitted() && !disabled())
    ) {
      <div class="mt-2 font-medium leading-normal text-[#f33a58]">
        {{ errorMessage }}
      </div>
    }
  </div>
</div>
