<div class="leading-[1.4] lg:flex lg:flex-col lg:items-center">
  <div class="flex w-full justify-center">
    <div class="rounded-full bg-transparent text-2xl">
      <img
        src="https://files.fullstack.edu.vn/f8-prod/user_avatars/378826/661cf89e8d5a0.jpg"
        alt="avatar"
        class="size-[216px] rounded-full object-cover" />
    </div>
  </div>

  <h1 class="mt-[10px] flex flex-wrap items-center text-2xl font-bold">
    Quy Nguyen
  </h1>

  <div class="mt-[2px] text-lg opacity-70">
    <a href="https://fullstack.edu.vn/@huytrong" class=""> &#64;15795 </a>
  </div>

  <div class="mt-5 flex flex-col gap-4">
    <div class="flex items-center">
      <span
        class="mr-2 inline-flex w-5 shrink-0 items-center justify-center text-[#7c858b]">
        <i class="fa-solid fa-phone"></i>
      </span>
      <a href="tel:+84398973408" class="break-all text-[#0056d6]">
        0398973408
      </a>
    </div>
    <div class="flex items-center">
      <span
        class="mr-2 inline-flex w-5 shrink-0 items-center justify-center text-[#7c858b]">
        <i class="fa-solid fa-envelope"></i>
      </span>
      <a href="mailto:quynx9523.dev@gmail.com" class="break-all text-[#0056d6]">
        quynx9523.dev&#64;gmail.com
      </a>
    </div>
    <div class="flex">
      <span class="mr-2 inline-flex w-5 shrink-0 text-[#7c858b]">
        <i class="fa-solid fa-user-pen relative top-1"></i>
      </span>
      <span
        [appTextExpander]="100"
        class="text-balance sm:max-w-[500px]"
        style="max-inline-size: 35ch">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea temporibus
        asperiores suscipit dicta tempore quas fuga sed, ipsa dolor modi
        eligendi assumenda aut dolore eum est nisi, inventore quis! Facilis
        error, molestiae accusantium, vel sunt dicta ipsam saepe, eaque ea
        molestias eveniet velit! Cupiditate quam, alias labore perspiciatis cum
        illum in vero perferendis, atque error molestiae ut, veniam aliquam?
        Voluptate eos dolor beatae unde alias non sunt laboriosam, dolores,
        assumenda sequi soluta, labore veniam commodi facilis illo perspiciatis
        nam excepturi sit quam amet! Deserunt, quis. Veritatis odit nobis
        obcaecati? Provident, quas. Inventore enim facere tenetur. Porro amet
        reiciendis repellat alias nam molestias voluptatem error! Facilis autem
        modi molestiae aut necessitatibus voluptatum dolore provident quas, sint
        animi eius natus vero suscipit deleniti a minima, neque sed maiores
        blanditiis esse incidunt eveniet earum! Dolorum nesciunt, at quo ea
        commodi laboriosam recusandae id excepturi totam voluptatem debitis eos
        soluta sunt, architecto corrupti doloribus laborum eaque voluptate ut
        odit. Vero, nesciunt. Provident vel pariatur voluptatibus cupiditate
        blanditiis, maxime nisi. Suscipit voluptatibus quis voluptatem ad alias
        totam dignissimos magni molestiae rem quasi labore aperiam illo
        molestias sapiente ea expedita hic atque fuga amet error, earum nesciunt
        animi delectus similique. Repellendus quo consectetur porro officiis
        quisquam.
      </span>
    </div>
  </div>
</div>
