<div
  clickOutsideSubmenu
  (clickOutside)="clickOutside.emit()"
  class="absolute right-0 top-12 z-[10]">
  <div
    class="animate-fadeInForward rounded-[10px] bg-white shadow-filterBox transition-all duration-300 ease-in-out will-change-[opacity,transform] dark:bg-dark-500 dark:shadow-filterBoxDark">
    <!-- ? Subjects -->
    <div class="w-[380px] pb-2">
      <div
        class="sticky top-0 flex items-center justify-between rounded-tl-[10px] rounded-tr-[10px] bg-white px-5 py-4 dark:bg-dark-500">
        <h5 class="text-lg font-semibold">Danh sách lớp học</h5>
        <button (click)="redirectToClasses()">
          <p-button
            label="Xem tất cả"
            variant="text"
            size="small"
            styleClass="!text-primary hover:!text-primary-600 dark:hover:!text-primary hover:!bg-primary-50 dark:hover:!bg-[color-mix(in_srgb,#55aaef,transparent_96%)]" />
        </button>
      </div>
      <ul class="max-h-[70vh] overflow-y-auto overscroll-contain">
        @for (class of classes(); track class.id) {
          <li>
            <button (click)="redirectToClass(class.id)">
              <div
                class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
                <div>
                  <img
                    [src]="class.backgroundImageUrl"
                    [alt]="class.className"
                    class="min-h-[68px] w-[120px] rounded-lg" />
                </div>
                <div class="grow">
                  <div
                    class="line-clamp-2 font-semibold"
                    [pTooltip]="class.className"
                    tooltipPosition="bottom"
                    [autoHide]="false">
                    {{ class.className }}
                  </div>
                  <div
                    class="flex items-center gap-[6px] text-[#666] lg:gap-1 dark:text-[#fffc]">
                    <fa-icon [icon]="'circle-play'"></fa-icon>
                    <p>{{ class.countLessonMaterial }}</p>
                  </div>
                  <div class="mt-1 flex items-center gap-[6px] lg:gap-1">
                    <figure class="h-[18px] w-[18px] rounded-[50%]">
                      <img
                        [src]="class.teacherAvatarUrl"
                        [alt]="class.teacherName"
                        class="h-full w-full rounded-[50%] object-cover" />
                    </figure>
                    <p
                      class="line-clamp-1 text-[#666] dark:text-[#fffc]"
                      tooltipPosition="top"
                      pTooltip="{{ class.teacherName }}">
                      {{ class.teacherName }}
                    </p>
                  </div>
                </div>
              </div>
            </button>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
