<div
  clickOutsideSubmenu
  (clickOutside)="clickOutside.emit()"
  class="absolute right-0 top-12 z-[10]">
  <div
    class="dark:bg-dark-500 dark:shadow-filterBoxDark animate-fadeInForward rounded-[10px] bg-white shadow-filterBox transition-all duration-300 ease-in-out will-change-[opacity,transform]">
    <!-- ? Subjects -->
    <div class="w-[380px] pb-2">
      <div
        class="dark:bg-dark-500 sticky top-0 flex items-center justify-between rounded-tl-[10px] rounded-tr-[10px] bg-white px-5 py-4">
        <h5 class="text-lg font-semibold">Danh sách lớp học</h5>
        <p-button
          label="Xem tất cả"
          variant="text"
          size="small"
          styleClass="!text-primary hover:!text-primary-600 dark:hover:!text-primary hover:!bg-primary-50 dark:hover:!bg-[color-mix(in_srgb,#55aaef,transparent_96%)]" />
      </div>
      <ul class="max-h-[70vh] overflow-y-auto overscroll-contain">
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/19/66aa28194b52b.png"
                alt="JavaScript Pro"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="JavaScript Pro"
                tooltipPosition="bottom"
                [autoHide]="false">
                JavaScript Pro
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="50%"
                tooltipPosition="bottom"
                [value]="50"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                alt="HTML CSS Pro"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="HTML CSS Pro"
                tooltipPosition="bottom"
                [autoHide]="false">
                HTML CSS Pro
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="99%"
                tooltipPosition="bottom"
                [value]="99"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/14/624faac11d109.png"
                alt="Làm việc với Terminal & Ubuntu"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="Làm việc với Terminal & Ubuntu"
                tooltipPosition="bottom"
                [autoHide]="false">
                Làm việc với Terminal & Ubuntu
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="17%"
                tooltipPosition="bottom"
                [value]="17"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/12.png"
                alt="Lập trình JavaScript Nâng Cao"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="Lập trình JavaScript Nâng Cao"
                tooltipPosition="bottom"
                [autoHide]="false">
                Lập trình JavaScript Nâng Cao
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="78%"
                tooltipPosition="bottom"
                [value]="78"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/1.png"
                alt="Lập Trình JavaScript Cơ Bản"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="Lập Trình JavaScript Cơ Bản"
                tooltipPosition="bottom"
                [autoHide]="false">
                Lập Trình JavaScript Cơ Bản
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="94%"
                tooltipPosition="bottom"
                [value]="94"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/3.png"
                alt="Responsive Với Grid System"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="Responsive Với Grid System"
                tooltipPosition="bottom"
                [autoHide]="false">
                Responsive Với Grid System
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="100%"
                tooltipPosition="bottom"
                [value]="100"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/2.png"
                alt="HTML CSS từ Zero đến Hero"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="HTML CSS từ Zero đến Hero"
                tooltipPosition="bottom"
                [autoHide]="false">
                HTML CSS từ Zero đến Hero
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="100%"
                tooltipPosition="bottom"
                [value]="100"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/7.png"
                alt="Kiến Thức Nhập Môn IT"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="Kiến Thức Nhập Môn IT"
                tooltipPosition="bottom"
                [autoHide]="false">
                Kiến Thức Nhập Môn IT
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="100%"
                tooltipPosition="bottom"
                [value]="100"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/6.png"
                alt="Node & ExpressJS"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="Node & ExpressJS"
                tooltipPosition="bottom"
                [autoHide]="false">
                Node & ExpressJS
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="100%"
                tooltipPosition="bottom"
                [value]="100"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
        <li>
          <div
            class="mx-2 mb-2 flex cursor-pointer select-none items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300 hover:bg-[#1618230d]">
            <div>
              <img
                src="https://files.fullstack.edu.vn/f8-prod/courses/13/13.png"
                alt="Xây Dựng Website với ReactJS"
                class="min-h-[68px] w-[120px] rounded-lg" />
            </div>
            <div class="grow">
              <div
                class="line-clamp-2 font-semibold"
                pTooltip="Xây Dựng Website với ReactJS"
                tooltipPosition="bottom"
                [autoHide]="false">
                Xây Dựng Website với ReactJS
              </div>
              <time class="inline-block text-[12px]">
                Học cách đây 24 ngày trước
              </time>
              <p-progressbar
                showValue="false"
                pTooltip="100%"
                tooltipPosition="bottom"
                [value]="100"
                [style]="{ height: '8px', 'margin-top': '8px' }" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
