<app-header />

<div class="flex min-h-screen overflow-y-auto">
  <!-- ? Navbar -->
  <profile-navbar />

  <!-- ? Container -->
  <div class="w-full">
    <div class="e-container-fluid">
      <div class="mb-[60px] px-11 pt-2">
        <div class="mt-[30px]">
          <div class="e-row">
            <!-- ? User Information -->
            <div class="e-col e-col-3 e-col-xl-4 e-col-lg-12">
              <profile-user-information />
            </div>

            <!-- ? User Activities -->
            <div class="e-col e-col-9 e-col-xl-8 e-col-lg-12">
              <profile-user-activities />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
