@if (!isPreviewAvatar()) {
  <header class="mt-[10px]">
    <h2 class="font- text-2xl dark:text-[#242424]">Ảnh đại diện</h2>
    <p class="mt-2 text-[15px] opacity-90">
      Ảnh đại diện giúp mọi người nhận biết bạn dễ dàng hơn qua các bài viết,
      bình luận, tin nhắn...
    </p>
  </header>
  <div class="max-h-[60vh] min-h-[122px] overflow-y-auto pb-[30px]">
    <div class="mt-[10px] w-full overflow-hidden">
      <input
        #avatarInput
        id="avatar"
        type="file"
        accept="image/*"
        class="hidden"
        (change)="onFileSelected($event)" />
      <label
        class="relative mx-auto my-[30px] block size-[180px] cursor-pointer bg-[#EBF4FE]"
        for="avatar">
        <div
          class="duration-30 absolute z-[2] size-[180px] rounded-full outline outline-1 outline-gray-300 transition-all">
          <img
            [src]="avatarUrl()"
            [alt]="fullName()"
            class="size-full rounded-full object-contain" />
        </div>
      </label>
      <label
        class="flex items-center gap-4 rounded-[10px] bg-white px-5 py-4 transition duration-150 hover:cursor-pointer hover:bg-[#f2f2f2]"
        for="avatar">
        <i class="fa-solid fa-plus"></i>
        Tải ảnh mới lên
      </label>
    </div>
  </div>
} @else {
  <header class="mt-[10px]">
    <h2 class="text-2xl font-semibold dark:text-[#242424]">Xem trước</h2>
    <p class="mt-2 text-[15px] opacity-90">
      Bạn có thể căn chỉnh vị trí ảnh để phù hợp với ảnh đại diện của bạn
    </p>
  </header>
  <button
    (click)="reset()"
    class="absolute left-4 top-[10px] size-10 cursor-pointer rounded-full text-xl opacity-70 transition-colors duration-200 hover:bg-[#0000001a]">
    <i class="fa-solid fa-angle-left"></i>
  </button>
  <div class="max-h-[60vh] min-h-[122px] overflow-y-auto pb-[30px]">
    <div class="mt-[10px] w-full overflow-hidden">
      <div class="mx-auto h-auto w-full">
        <image-cropper
          class="custom-cropper flex size-full items-center justify-center"
          [aspectRatio]="1 / 1"
          [resizeToWidth]="512"
          [onlyScaleDown]="true"
          [maintainAspectRatio]="true"
          [roundCropper]="true"
          [(transform)]="transform"
          [imageChangedEvent]="imageChangedEvent()"
          (imageCropped)="imageCropped($event)" />
      </div>

      <div class="flex items-center justify-center gap-1">
        <button
          (click)="zoomOut()"
          class="mr-2 size-[34px] cursor-pointer rounded-full text-lg text-[#666] transition-colors duration-200 hover:bg-[#0000000d]">
          <i class="fa-solid fa-minus"></i>
        </button>
        <div class="relative h-5 w-full max-w-[500px] flex-1 py-[30px]">
          <p-slider
            step="0.1"
            max="10"
            min="1"
            [ngModel]="transform().scale"
            (ngModelChange)="scaleChange($event)"
            class="w-full" />
        </div>
        <button
          (click)="zoomIn()"
          class="ml-2 size-[34px] cursor-pointer rounded-full text-lg text-[#666] transition-colors duration-200 hover:bg-[#0000000d]">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <footer>
    <p-button
      styleClass="mt-5 block w-full cursor-pointer whitespace-nowrap !border-none !bg-[#1dbfaf] !bg-[linear-gradient(70.06deg,_#2cccff_-5%,_#22dfbf_106%)] px-5 py-3 text-base font-semibold text-white !transition-opacity !duration-[250] hover:!opacity-80"
      label="Lưu lại"
      [rounded]="true"
      [loading]="isLoading()"
      (onClick)="saveAvatar()" />
  </footer>
}
