<header
  class="container sticky left-0 top-0 z-10 border-b-[1px] border-[#e8ebed] bg-white px-7 dark:border-[#323c4a] dark:bg-dark-500">
  <div class="flex h-[66px] items-center justify-between sm:gap-3 xs:gap-2">
    <!-- ? Logo -->
    <h1 class="flex items-center gap-4">
      <a routerLink="/">
        <img
          src="./images/logo.png"
          alt="Học, Học Nữa, Học Mãi"
          class="h-[38px] w-[38px] min-w-[38px] rounded-lg object-contain" />
      </a>
      <a
        routerLink="/"
        class="text-[14px] font-bold"
        [class]="!isHidden() ? 'md:hidden' : ''">
        Học, Học Nữa, Học Mãi
      </a>
    </h1>

    <!-- ? Search Input -->
    @if (!isHidden()) {
      <div class="flex grow items-center justify-center md:flex-grow-[2]">
        <div class="relative w-[420px] max-w-full sm:w-full">
          <div
            class="flex h-10 w-full items-center rounded-full border-2 border-[#e8e8e8] bg-white px-4 text-black transition-colors duration-300 ease-in-out focus-within:border-[#444] dark:border-[#181d1e] dark:bg-[#272a31] dark:text-white">
            <span class="pi pi-search text-md font-semibold"></span>
            <input
              type="text"
              class="search-input ml-2 h-full grow border-none bg-transparent text-sm outline-none sm:hidden"
              placeholder="Tìm kiếm môn học, video,..."
              [(ngModel)]="searchInput" />
            <input
              type="text"
              class="search-input ml-2 hidden h-full w-full grow border-none bg-transparent text-sm outline-none sm:block"
              placeholder="Tìm kiếm..."
              [(ngModel)]="searchInput" />
            <span class="pi pi-times" (click)="searchInput = ''"></span>
          </div>

          @if (searchInput) {
            <!-- ? Search Filter -->
            <header-search-filter />
          }
        </div>
      </div>
    }

    <!-- ? User Actions/Information -->
    <header-user-actions />
  </div>
</header>
