.search-input + span {
  position: relative;
  top: 1px;
  display: none;
  font-size: 10px;
  font-weight: 700;
  color: #7c7c7c;
  cursor: pointer;
}

.search-input:not(:placeholder-shown) + span {
  display: block;
}

.search-input + span:hover {
  opacity: 0.8;
}
