.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 72px;
  height: 72px;
  border-radius: 16px;
  color: var(--color-navbar-text2);
  background-color: var(--color-bg);
  cursor: pointer;
}

.nav-link:hover {
  color: var(--color-navbar-text);
  background-color: var(--color-bg3);
}

.nav-link.active {
  color: var(--color-navbar-text);
  background-color: var(--color-bg2);
}

.nav-text {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
}

.nav-icon {
  font-size: 18px;
}

@media screen and (max-width: 767.98px) {
  :host {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  .nav-link {
    width: 100%;
    height: 60px;
  }

  .nav-link.active {
    background-color: transparent;
  }

  .nav-link.active > * {
    opacity: 1;
  }

  .nav-link.active > .nav-icon {
    color: var(--color-primary);
  }

  .nav-icon,
  .nav-text {
    opacity: 0.7;
  }
}
