<nav
  class="dark:bg-[#191d1e] sticky left-0 top-20 flex w-[100px] justify-center bg-white md:border-t-[#e8ebed] sm:static sm:w-full sm:border-t">
  <ul class="flex flex-col gap-2 sm:grow sm:flex-row sm:justify-evenly">
    <li>
      <a routerLink="/" class="active nav-link" [class.active]="true">
        <fa-icon [icon]="'house'" class="nav-icon"></fa-icon>
        <span class="nav-text">Trang chủ</span>
      </a>
    </li>
    <li>
      <a routerLink="/comments" class="nav-link">
        <fa-icon [icon]="'comments'" class="nav-icon"></fa-icon>
        <span class="nav-text"> Hỏi đáp </span>
      </a>
    </li>
  </ul>
</nav>
