<home-carousel />

<div class="px-8 pb-[75px] md:px-0">
  @for (section of subjectSections(); track $index) {
    <div class="mt-[50px]">
      <div class="subjects">
        <h2 class="subjects__header">{{ section.title }}</h2>
        <div
          class="subjects__list grid grid-cols-4 gap-x-6 gap-y-10 xl:grid-cols-3 xl:gap-x-4 xl:gap-y-6 lg:gap-x-3 md:grid-cols-2">
          @for (subject of section.subjects; track $index) {
            <div>
              <subject-card [subject]="subject" />
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
