<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="max-h-[60vh] min-h-[122px] overflow-y-auto pb-[30px]">
    <app-form-control
      formControlName="phoneNumber"
      name="phoneNumber"
      type="tel"
      label="Số điện thoại"
      placeholder="Nhập số điện thoại của bạn"
      [submitted]="submitted()"
      [phone]="true"
      [errorMessages]="{
        pattern: 'Số điện thoại không đúng định dạng',
      }">
    </app-form-control>
  </div>
  <footer>
    <app-button
      text="Lưu lại"
      buttonType="submit"
      variant="rounded"
      [loading]="isLoading()" />
  </footer>
</form>
