<form (ngSubmit)="onSubmit()">
  <div class="max-h-[60vh] min-h-[122px] overflow-y-auto pb-[30px]">
    <app-form-control
      label="Số điện thoại"
      type="tel"
      placeholder="Nhập số điện thoại của bạn"
      [name]="'phone'"
      [phone]="true"
      [(ngModel)]="phone"
      [errorMessages]="{
        pattern: 'Số điện thoại không đúng định dạng',
      }">
    </app-form-control>
  </div>
  <footer>
    <button
      class="mt-5 block w-full cursor-pointer whitespace-nowrap rounded-full border-none bg-[#1dbfaf] bg-[linear-gradient(70.06deg,_#2cccff_-5%,_#22dfbf_106%)] px-5 py-3 text-base font-semibold text-white transition-opacity duration-[250] hover:opacity-80">
      Lưu lại
    </button>
  </footer>
</form>
