<main
  class="min-h-[100dvh] px-[14px] py-[84px] text-black before:absolute before:inset-0 before:-z-10 before:bg-white md:fixed md:inset-0 md:overflow-y-auto md:px-5 md:py-0 dark:text-[#242424]">
  <!-- Mobile + Tablet -->
  <div class="background hidden h-full md:block"></div>
  <div class="hidden md:block">
    <a
      routerLink="/settings"
      class="-ml-5 inline-block py-5 pl-5 pr-[50px] text-xl">
      <i class="fa-solid fa-chevron-left"></i>
    </a>
  </div>
  <!--  -->
  <h1 class="text-2xl font-semibold dark:text-[#242424]">Thông tin cá nhân</h1>

  <p class="my-[10px] font-[15px] opacity-90 dark:text-[#242424]">
    Quản lý thông tin cá nhân của bạn.
  </p>

  <div class="py-[18px]">
    <!-- Basic Information -->
    <section class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h2 class="text-[17px] font-semibold dark:text-[#242424]">
          Thông tin cơ bản
        </h2>
        <p class="opacity-70">
          Quản lý tên hiển thị, tên người dùng, bio và avatar của bạn.
        </p>
      </div>

      <div class="gap-1 overflow-hidden rounded-[10px] bg-white">
        <app-profile-card
          title="Họ và tên"
          [subtitle]="user()?.fullName"
          (click)="openDialog('name')" />
        <app-profile-card
          title="Ảnh đại diện"
          [avatarUrl]="user()?.avatarUrl"
          [subtitle]="user()?.fullName"
          (click)="openDialog('avatar')" />
      </div>

      @if (openedDialog() === 'name') {
        <app-dialog
          title="Cập nhật tên của bạn"
          desc="Tên sẽ được hiển thị trên trang cá nhân, trong các bình luận và bài viết của bạn."
          (close)="closeDialog()">
          <app-update-name-form
            [fullName]="user()!.fullName"
            (nameChanged)="closeDialog()" />
        </app-dialog>
      } @else if (openedDialog() === 'avatar') {
        <app-dialog [width]="450" (close)="closeDialog()">
          <app-update-avatar-form
            [avatarUrl]="user()!.avatarUrl"
            [fullName]="user()!.fullName"
            (avatarChanged)="onAvatarChange($event)" />
        </app-dialog>
      }
    </section>
    <!--  -->

    <!-- Contact -->
    <section class="mt-10 flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h2 class="text-[17px] font-semibold dark:text-[#242424]">
          Thông tin liên hệ
        </h2>
        <p class="opacity-70">
          Quản lý danh sách các thông tin liên hệ của bạn.
        </p>
      </div>

      <div class="gap-1 overflow-hidden rounded-[10px] bg-white">
        <app-profile-card
          title="Email"
          [readonly]="true"
          [subtitle]="user()?.email">
        </app-profile-card>
        <app-profile-card
          title="Số điện thoại"
          [subtitle]="user()?.phoneNumber ?? 'Chưa cập nhật'"
          (click)="openDialog('phone')">
        </app-profile-card>
      </div>

      @if (openedDialog() === 'phone') {
        <app-dialog
          (close)="closeDialog()"
          title="Số điện thoại"
          desc="Số điện thoại của bạn sẽ được sử dụng để liên hệ.">
          <app-update-phone-number-form
            [phoneNumber]="user()!.phoneNumber"
            (phoneNumberChanged)="closeDialog()" />
        </app-dialog>
      }
    </section>
  </div>
</main>
