<!-- @if (isModalOpen()) { -->
<div
  class="fixed inset-0 z-[996] flex items-center justify-center"
  [class.pointer-events-none]="!isModalOpen()">
  <div
    class="absolute inset-0 z-[997] select-none bg-[#0006] transition-all duration-300 ease-in-out"
    [ngClass]="{
      'opacity-0': !isModalOpen(),
      'opacity-100': isModalOpen(),
    }"
    (click)="closeModal()"></div>
  <div
    class="relative z-[998] h-[min(660px,100%-32px)] w-[min(576px,100%-32px)] overflow-y-auto rounded-2xl bg-white transition-all duration-300 ease-in-out"
    [ngClass]="{
      'scale-0 opacity-0': !isModalOpen(),
      'scale-1 opacity-100': isModalOpen(),
    }">
    <button
      class="absolute right-4 top-4 z-[999] flex size-10 cursor-pointer items-center justify-center rounded-full bg-[#16182308] text-[#333]"
      (click)="closeModal()">
      <span class="pi pi-times"></span>
    </button>
    <div class="modal-background">
      <div class="p-[30px]">
        <div class="flex flex-col items-center text-center">
          <!-- ? Header -->
          <div class="mt-[50px]">
            <a href="/" class="flex items-center justify-center">
              <img
                src="./images/logo.png"
                alt="Đăng nhập vào EDUVA"
                class="h-10 w-10 rounded-lg object-contain" />
            </a>
            <h2 class="my-3 text-[28px] font-bold leading-[1.4]">
              Đăng nhập vào EDUVA
            </h2>
            <p class="text-warningText mx-auto w-[min(400px,90%)]">
              Mỗi người nên sử dụng riêng một tài khoản, tài khoản nhiều người
              sử dụng chung sẽ bị khóa.
            </p>
          </div>

          <!-- ? Main -->
          <div class="mt-3">
            <div class="mx-auto flex w-[360px] flex-col">
              <form action="">
                <app-form-control
                  label="Tên đăng nhập"
                  type="text"
                  placeholder="Email hoặc Username"
                  [name]="'username'"
                  [(ngModel)]="username"
                  [required]="true" />

                <app-form-control
                  label="Mật khẩu"
                  type="password"
                  placeholder="Mật khẩu"
                  [name]="'password'"
                  [(ngModel)]="password"
                  [required]="true" />

                <!-- ? Checkbox Remember -->
                <div class="mt-4 w-full">
                  <input
                    type="checkbox"
                    name="remember"
                    id="remember"
                    class="remember-input hidden" />
                  <label
                    for="remember"
                    class="remember-label relative ml-1 flex select-none items-center gap-2 font-medium opacity-70">
                    <span for="remember">Ghi nhớ đăng nhập</span>
                  </label>
                </div>

                <!-- ? Submit Button -->
                <button
                  type="submit"
                  class="button-submit mt-5 block w-full whitespace-nowrap rounded-full bg-[#1dbfaf] px-5 py-3 text-base font-semibold text-white transition-opacity duration-200 hover:opacity-80 disabled:cursor-not-allowed disabled:opacity-50">
                  Đăng nhập
                </button>
              </form>
            </div>

            <!-- ? Forgot Password Link -->
            <a
              href="#!"
              class="mx-auto mt-7 inline-block font-semibold text-primary underline">
              Quên mật khẩu?
            </a>

            <!-- ? Policy -->
            <p class="mx-auto w-[min(400px,100%)] p-4 text-xs text-[#666]">
              Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
              <a href="#!" target="_blank" class="underline"
                >điều khoản sử dụng</a
              >
              của chúng tôi
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- } -->
