<div>
  <a href="/" class="flex items-center justify-center">
    <img
      src="./images/logo.png"
      [alt]="
        screenState() === 'login'
          ? 'Đăng nhập vào EDUVA'
          : screenState() === 'forgot-password'
            ? 'Quên mật khẩu'
            : 'Đặt lại mật khẩu'
      "
      class="h-12 w-12 rounded-lg object-contain" />
  </a>
  <h2 class="my-3 text-[28px] font-bold leading-[1.4]">
    @if (screenState() === 'login') {
      Đăng nhập vào <strong class="system-name">EDUVA</strong>
    } @else if (screenState() === 'forgot-password') {
      Quên mật khẩu?
    } @else {
      Đặt lại mật khẩu
    }
  </h2>
  <p
    class="mx-auto w-[min(400px,90%)]"
    [ngClass]="{
      'text-warningText': screenState() === 'login',
    }">
    {{
      screenState() === 'login'
        ? 'Mỗi người nên sử dụng riêng một tài khoản, tài khoản nhiều người sử dụng chung sẽ bị khóa.'
        : screenState() === 'forgot-password'
          ? 'Nhập địa chỉ email của bạn và chúng tôi sẽ gửi mã khôi phục mật khẩu gồm 6 chữ số đến hộp thư của bạn.'
          : 'Đặt mật khẩu mới cho tài khoản của bạn để có thể tiếp tục truy cập các khóa học.'
    }}
  </p>
</div>
