<div class="flex flex-col gap-5">
  <!-- ? Buttons -->
  <div class="flex w-full items-center justify-center gap-5">
    <app-button-outline-gradient
      [variant]="'icon'"
      [tooltipText]="'Cần cải thiện'"
      [imgSrc]="'./images/icons/thumbs-down.svg'" />
    <app-button-outline-gradient
      [variant]="'icon'"
      [tooltipText]="'Hữu ích'"
      [imgSrc]="'./images/icons/thumbs-up.svg'" />
  </div>

  <!-- ? Question -->
  <p class="text-center text-sm text-[#4e586b]">
    Bạn thấy bài học này thế nào?
  </p>
</div>
