<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="max-h-[60vh] min-h-[122px] overflow-y-auto pb-[30px]">
    <app-form-control
      formControlName="currentPassword"
      name="currentPassword"
      type="password"
      label="Mật khẩu hiện tại"
      placeholder="Nhập mật khẩu hiện tại của bạn"
      [required]="true"
      [submitted]="submitted()"
      [errorMessages]="{
        required: 'Vui lòng nhập mật khẩu hiện tại',
      }">
    </app-form-control>
    <app-form-control
      formControlName="newPassword"
      name="newPassword"
      type="password"
      label="Mật khẩu mới"
      placeholder="Nhập mật khẩu mới của bạn"
      [required]="true"
      [validatePassword]="true"
      [submitted]="submitted()"
      [errorMessages]="{
        passwordWeak: 'Độ khó mật khẩu chưa đạt yêu cầu.',
      }">
    </app-form-control>
    <div class="mx-1 my-[10px]">
      <div class="flex gap-1">
        <div
          class="h-[5px] flex-1 rounded-[4px]"
          [ngClass]="{
            'bg-[#e1e4eb]': !passwordLevel(),
            'bg-[#d43031]': passwordLevel()! < 4,
            'bg-[#faa61b]': passwordLevel() === 4,
            'bg-[#02875a]': passwordLevel() === 5,
          }"></div>
        <div
          class="h-[5px] flex-1 rounded-[4px]"
          [ngClass]="{
            'bg-[#e1e4eb]': !passwordLevel() || passwordLevel()! < 3,
            'bg-[#d43031]': passwordLevel() === 3,
            'bg-[#faa61b]': passwordLevel() === 4,
            'bg-[#02875a]': passwordLevel() === 5,
          }"></div>
        <div
          class="h-[5px] flex-1 rounded-[4px]"
          [ngClass]="{
            'bg-[#e1e4eb]': !passwordLevel() || passwordLevel()! < 4,
            'bg-[#faa61b]': passwordLevel() === 4,
            'bg-[#02875a]': passwordLevel() === 5,
          }"></div>
        <div
          class="h-[5px] flex-1 rounded-[4px]"
          [ngClass]="{
            'bg-[#e1e4eb]': passwordLevel() !== 5,
            'bg-[#02875a]': passwordLevel() === 5,
          }"></div>
      </div>
      <div class="py-2 text-right text-xs font-medium text-[#666]">
        {{ passwordStrengthLabel() }}
      </div>
    </div>
    <app-form-control
      formControlName="confirmPassword"
      name="confirmPassword"
      type="password"
      label="Nhập lại mật khẩu mới"
      placeholder="Nhập lại mật khẩu mới"
      [required]="true"
      [submitted]="submitted()"
      [confirmPassword]="form.get('newPassword')?.value"
      [errorMessages]="{
        required: 'Vui lòng xác nhận mật khẩu',
      }">
    </app-form-control>
    <div class="mb-4 ml-[5px] mt-[10px]">
      <button
        type="button"
        class="text-[15px] font-medium text-primary underline"
        (click)="openForgotPassword()">
        Bạn quên mật khẩu ư?
      </button>
    </div>
  </div>
  <footer>
    <app-button
      text="Đổi mật khẩu"
      buttonType="submit"
      variant="rounded"
      [loading]="isLoading()"
      [disabled]="form.invalid || passwordMisMatch" />
  </footer>
</form>

@if (isForgotPassword()) {
  <app-forget-password-form (close)="closeForgotPassword()" />
}
