.remember-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #2093e7;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.remember-label::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(calc(-50% + 4px));
}

.remember-input:checked + .remember-label::before {
  background-color: #2093e7;
}

.remember-input:checked + .remember-label::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 10px;
  left: 6px;
  margin-top: -6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
