<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <app-form-control
    label="Email"
    type="email"
    placeholder="Nhập email của bạn"
    [submitted]="submitted()"
    [name]="'email'"
    [required]="true"
    formControlName="email" />

  <app-form-control
    type="password"
    placeholder="Mật khẩu"
    [name]="'password'"
    [submitted]="submitted()"
    formControlName="password"
    [required]="true" />

  <!-- ? Checkbox Remember -->
  <div class="mt-4 w-full">
    <input
      type="checkbox"
      name="remember"
      id="remember"
      class="remember-input hidden" />
    <label
      for="remember"
      class="remember-label relative ml-1 flex select-none items-center gap-2 font-medium opacity-70 dark:text-[#242424]">
      <span for="remember">Ghi nhớ đăng nhập</span>
    </label>
  </div>

  <!-- ? Submit Button -->
  <div class="mt-5">
    <app-button
      [text]="'Đăng nhập'"
      buttonType="submit"
      [loading]="isLoading()"
      [variant]="'rounded'" />
  </div>
</form>
