<home-carousel />

@if (currentUser() && isLoggedIn()) {
  <div class="px-8 pb-[75px] md:px-0">
    <div class="mt-[50px]">
      <div class="classrooms">
        <div class="flex items-center justify-between">
          <h2 class="classrooms__header">Lớp học của tôi</h2>
          @if (!isLoadingGetClasses() && classes().length > 0) {
            <a
              routerLink="/classes"
              class="mr-1 select-none py-2 pl-2 text-[15px] font-semibold text-primary transition duration-200 hover:underline"
              >Xem tất cả<i class="fa-solid fa-chevron-right ml-1 text-sm"></i>
            </a>
          }
        </div>
        @if (isLoadingGetClasses()) {
          <div
            class="classrooms__list grid grid-cols-4 gap-x-6 gap-y-10 xl:grid-cols-3 xl:gap-x-4 xl:gap-y-6 lg:gap-x-3 md:grid-cols-2">
            @for (_ of skeletonItems; track $index) {
              <app-class-card-skeleton />
            }
          </div>
        } @else if (classes().length === 0) {
          <div class="mt-6 rounded-md border border-[#dadce0] p-[25px]">
            <div class="flex items-center sm:flex-col">
              <img
                src="./images/classroom-lesson-empty.svg"
                alt=""
                class="size-40" />
              <div class="ml-10 flex grow flex-col sm:ml-0">
                <p class="text-lg font-semibold">
                  Bạn chưa tham gia lớp học nào!
                </p>
                <p
                  class="mt-4 text-base italic text-gray-500 dark:text-gray-300">
                  Khi tham gia lớp, bạn sẽ thấy tất cả bài giảng, tài liệu, và
                  video từ giáo viên tại đây. Hãy nhập mã lớp mà giáo viên đã
                  cung cấp để bắt đầu học nhé!
                </p>
              </div>
            </div>
            <div class="flex justify-end sm:mt-6">
              <p-button
                icon="fas fa-plus"
                label="Tham gia lớp học"
                pTooltip="Tham gia lớp học"
                tooltipPosition="bottom"
                class="actions__btn flex items-center"
                [rounded]="true"
                (click)="openEnrollClassModal()" />
            </div>
          </div>
        } @else {
          <div
            class="classrooms__list grid grid-cols-4 gap-x-6 gap-y-10 xl:grid-cols-3 xl:gap-x-4 xl:gap-y-6 lg:gap-x-3 md:grid-cols-2">
            @for (classroom of classes(); track classroom.id) {
              <div>
                <classroom-card [classroom]="classroom" />
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="min-h-screen"></div>
}
