.header-btn ::ng-deep .p-button {
  color: #2093e7;
}

.header-btn ::ng-deep .p-button:hover {
  color: #2093e7;
  background: #f0f9ff;
}

.header-btn ::ng-deep .p-button span {
  font-weight: 400;
}
