<div
  class="absolute right-0 top-12 z-[10]"
  clickOutsideSubmenu
  (clickOutside)="clickOutside.emit()">
  <div
    class="animate-fadeInForward rounded-[10px] bg-white shadow-filterBox transition-all duration-300 ease-in-out will-change-[opacity,transform] dark:bg-dark-500 dark:shadow-filterBoxDark">
    <!-- ? Notifications -->
    <div class="w-[350px] pb-2">
      <div
        class="sticky top-0 flex items-center justify-between rounded-tl-[10px] rounded-tr-[10px] bg-white px-5 py-4 dark:bg-dark-500">
        <h5 class="flex items-center gap-1 text-lg font-semibold">
          Thông báo
          <span class="text-sm font-medium tracking-wider">
            ({{ displayTotalNotification() }})
          </span>
        </h5>
        <p-button
          label="Đánh dấu đã đọc"
          variant="text"
          size="small"
          styleClass="!text-primary hover:!text-primary-600 dark:hover:!text-primary hover:!bg-primary-50 dark:hover:!bg-[color-mix(in_srgb,#55aaef,transparent_96%)]"
          (onClick)="markAllAsRead()" />
      </div>
      @if (isLoading()) {
        <notification-skeleton />
      } @else {
        <ul
          class="max-h-[70vh] overflow-y-auto overscroll-contain"
          (scroll)="onScroll($event)">
          @for (notification of displayNotifications(); track notification.id) {
            <li
              [ngClass]="{
                'cursor-pointer': !notification.formatted.disabled,
                'cursor-default': notification.formatted.disabled,
              }">
              <button
                class="mx-2 mb-2 flex items-center gap-3 rounded-[10px] p-2 pl-3 pr-6 transition-colors duration-300"
                [ngClass]="{
                  'bg-primary-100': !notification.isRead,
                  'dark:bg-[color-mix(in_srgb,#55aaef,transparent_96%)]':
                    !notification.isRead,
                  'hover:bg-[#1618230d]': notification.isRead,
                  'dark:hover:bg-[color-mix(in_srgb,#55aaef,transparent_96%)]':
                    notification.isRead,
                  'pointer-events-none cursor-default':
                    notification.formatted.disabled,
                }"
                (click)="markAsRead(notification)">
                <img
                  [src]="notification.formatted.avatar"
                  [alt]="notification.formatted.alt"
                  class="size-12 rounded-full bg-white dark:bg-dark-500" />
                <div class="flex flex-col gap-1">
                  <p
                    class="line-clamp-2 max-w-[220px]"
                    tooltipPosition="bottom"
                    [pTooltip]="notification.formatted.tooltip"
                    [innerHTML]="notification.formatted.message | safeHtml"></p>
                  <span
                    class="ml-2 line-clamp-2 inline-block max-w-[220px] text-left font-semibold text-primary">
                    {{ notification.formatted.date }}
                  </span>
                </div>
                @if (!notification.isRead) {
                  <span class="relative ml-auto flex h-3 w-3">
                    <span
                      class="absolute inline-flex h-full w-full animate-ping rounded-full bg-primary-400 opacity-75"></span>
                    <span
                      class="relative inline-flex h-3 w-3 rounded-full bg-primary"></span>
                  </span>
                }
              </button>
            </li>
          }
        </ul>
      }
    </div>
  </div>
</div>
