<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <app-form-control
    label="Email"
    type="email"
    placeholder="Nhập email của bạn"
    [name]="'email'"
    [required]="true"
    formControlName="email" />

  <div class="relative">
    <app-form-control
      type="tel"
      placeholder="Nhập mã xác nhận"
      [name]="'code'"
      [required]="true"
      [disabled]="!isSentCode()"
      [maxLength]="6"
      [pattern]="'^[0-9]{6}$'"
      formControlName="code"
      (input)="onCodeInput($event)">
    </app-form-control>
    <p-button
      [label]="isResentCode() ? 'Gửi lại mã (' + countdown() + 's)' : 'Gửi mã'"
      size="small"
      (onClick)="sendCode()"
      class="actions__btn absolute bottom-0 right-0 top-2 h-[42px]"
      [disabled]="!!form.get('email')?.invalid || isResentCode()"
      [rounded]="true" />
  </div>
  @if (isResentCode()) {
    <div class="my-2 ml-2 text-left text-sm font-medium italic text-[#02875a]">
      Đã gửi mã! Kiểm tra email của bạn để lấy mã.
    </div>
  }
  <!-- ? Submit Button -->
  <div class="mt-5">
    <app-button
      [text]="'Đặt lại mật khẩu'"
      [type]="'rounded'"
      [disabled]="
        !!form.get('email')?.invalid ||
        !!form.get('code')?.invalid ||
        !form.get('code')?.value
      " />
  </div>
</form>
