<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <app-form-control
    formControlName="email"
    name="email"
    type="email"
    label="Email"
    placeholder="Nhập email của bạn"
    [required]="true"
    [submitted]="submitted()" />
  <!-- ? Submit Button -->
  <div class="mt-5">
    <app-button
      text="Đặt lại mật khẩu"
      buttonType="submit"
      variant="rounded"
      [loading]="isLoading()"
      [disabled]="!!form.get('email')?.invalid" />
  </div>
</form>
