<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <app-form-control
    formControlName="email"
    name="email"
    type="email"
    label="Email"
    placeholder="Nhập email của bạn"
    [required]="true"
    [submitted]="submitted()" />

  <!-- <div class="relative">
    <app-form-control
      formControlName="code"
      name="code"
      type="tel"
      placeholder="Nhập mã xác nhận"
      [maxLength]="6"
      [pattern]="'^[0-9]{6}$'"
      [required]="isSentCode()"
      [disabled]="!isSentCode()"
      (input)="onCodeInput($event)">
    </app-form-control>
    <p-button
      size="small"
      class="actions__btn"
      [rounded]="true"
      [label]="isResentCode() ? 'Gửi lại mã (' + countdown() + 's)' : 'Gửi mã'"
      [disabled]="!!form.get('email')?.invalid || isResentCode()" />
  </div>
  @if (isResentCode()) {
    <div class="my-2 ml-2 text-left text-sm font-medium italic text-[#02875a]">
      Đã gửi mã! Kiểm tra email của bạn để lấy mã.
    </div>
  } -->
  <!-- ? Submit Button -->
  <div class="mt-5">
    <app-button
      text="Đặt lại mật khẩu"
      buttonType="submit"
      type="rounded"
      [disabled]="!!form.get('email')?.invalid" />
  </div>
</form>
