/* ? Not Logged In */
.actions__btn ::ng-deep .p-button {
  background-color: #2093e7;
  background-image: linear-gradient(to right bottom, #4dbfe9, #2093e7 50%);
  border-color: transparent;
  white-space: nowrap;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 2px;
  right: 1px;
  height: 41px;
  bottom: 0;
  min-width: 124px;
  font-size: 14px;
}

.actions__btn ::ng-deep .p-button[disabled] {
  color: #757575;
  background-color: #ccc;
  cursor: not-allowed;
  background-image: unset;
  opacity: 1;
}

.actions__btn ::ng-deep .p-button[disabled]:hover {
  background-color: #ccc;
  cursor: not-allowed;
  background-image: unset;
  opacity: 1;
}

.actions__btn ::ng-deep .p-button:hover {
  background-color: #2093e7;
  background-image: linear-gradient(to right bottom, #4dbfe9, #2093e7 50%);
  border-color: transparent;
}
