<div class="relative box-border block overflow-hidden pt-[56.25%]">
  <ngx-extended-pdf-viewer
    style="width: 100%; height: 100%; position: absolute; left: 0; top: 0"
    [showDownloadButton]="false"
    [showBorders]="true"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showSecondaryToolbarButton]="false"
    [showPresentationModeButton]="true"
    [handTool]="false"
    [showHighlightEditor]="false"
    [showTextEditor]="false"
    [showDrawEditor]="false"
    [showStampEditor]="false"
    [language]="'vi'"
    [src]="materialSourceUrl()">
  </ngx-extended-pdf-viewer>
</div>
