<div>
  <!-- ? Title -->
  <div class="border-b border-b-[#dae4f0] pb-5">
    <h3 class="text-lg font-semibold leading-6 text-[#808b9a]">
      Tổng hợp các chương theo môn học
    </h3>
  </div>
  <!-- ? Chapter List -->
  <ul class="mt-4">
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '1. Bắt đầu' }}"
        [autoHide]="false"
        tooltipPosition="top">
        1. Bắt đầu
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '2. Làm quen với HTML' }}"
        [autoHide]="false"
        tooltipPosition="top">
        2. Làm quen với HTML
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '3. Các thẻ tiêu đề' }}"
        [autoHide]="false"
        tooltipPosition="top">
        3. Các thẻ tiêu đề
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '4. Thẻ đoạn văn' }}"
        [autoHide]="false"
        tooltipPosition="top">
        4. Thẻ đoạn văn
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '5. Chữ đậm, chữ nghiêng' }}"
        [autoHide]="false"
        tooltipPosition="top">
        5. Chữ đậm, chữ nghiêng
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '6. HTML Semantic' }}"
        [autoHide]="false"
        tooltipPosition="top">
        6. HTML Semantic
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '7. Thẻ danh sách' }}"
        [autoHide]="false"
        tooltipPosition="top">
        7. Thẻ danh sách
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '8. Sử dụng liên kết' }}"
        [autoHide]="false"
        tooltipPosition="top">
        8. Sử dụng liên kết
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '9. Sử dụng Hình ảnh' }}"
        [autoHide]="false"
        tooltipPosition="top">
        9. Sử dụng Hình ảnh
      </a>
    </li>
    <li>
      <a
        href="#!"
        class="chapter-item line-clamp"
        pTooltip="{{ '10. Tra cứu thẻ HTML' }}"
        [autoHide]="false"
        tooltipPosition="top">
        10. Tra cứu thẻ HTML
      </a>
    </li>
  </ul>
</div>
