<div class="flex h-full w-full flex-col pb-[116px]">
  <div class="flex items-center p-4">
    <!-- ? Search Input -->
    <div
      class="flex flex-1 items-center rounded-lg bg-[#eef4fc] px-4 dark:bg-dark-300">
      <button (click)="search.emit(searchTerm())">
        <span
          class="pi pi-search relative top-[2px] text-[#808b9a] dark:text-[#fffc]"
          style="font-size: 14px"></span>
      </button>
      <input
        type="text"
        class="h-10 w-full select-none border-none bg-transparent pl-[10px] text-sm font-normal text-[#808b9a] outline-none placeholder:text-[#8a8d91]"
        placeholder="Tìm theo tên bài học"
        [ngModel]="searchTerm()"
        (ngModelChange)="searchTerm.set($event)"
        (keydown.enter)="search.emit(searchTerm())" />
    </div>
  </div>

  <!-- ? Lesson Tracker -->
  <div class="lesson-tracker flex-1 overflow-y-auto overscroll-contain">
    @if (filteredFoldersAndMaterials().length === 0) {
      <div class="flex h-full items-center justify-center">
        <p class="text-base text-[#808b9a]">Không có kết quả phù hợp</p>
      </div>
    } @else {
      <!-- ? Sidebar Tracks -->
      <sidebar-tracks
        [materialId]="materialId()"
        [currentFolderId]="folderId()"
        [filteredFoldersAndMaterials]="filteredFoldersAndMaterials()" />
    }
  </div>
</div>
