<footer
  class="bg-[#181821] px-[150px] pb-10 pt-[68px] text-[#a9b3bb] md:px-3 md:pt-8 sm:pb-[200px] sm:pt-[30px] dark:bg-dark-400">
  <div class="e-container-fluid">
    <div class="e-row e-gy-xl-6">
      <div class="e-col e-col-3 e-col-xl-12">
        <div class="flex flex-col gap-5">
          <div class="flex items-center gap-[10px]">
            <a href="#!">
              <img
                src="./images/logo.png"
                alt="Học, Học Nữa, Học Mãi"
                class="h-[38px] w-[38px] rounded-lg object-contain" />
            </a>
            <h2 class="text-base font-bold text-white">
              <a href="#!">Học, Học Nữa, Học Mãi</a>
            </h2>
          </div>
          <p class="text-sm">
            <b>Điện thoại: </b>
            <a href="tel:+84398973408" class="hover:underline">03 9897 3408</a>
            <br />
            <b>Email: </b>
            <a href="mailto:contact@eduva.edu.vn" class="hover:underline">
              contact&#64;eduva.edu.vn
            </a>
            <br />
            <b>Địa chỉ: </b>
            Đại học FPT, Quy Nhơn, Bình Định
          </p>
        </div>
      </div>
      <div class="e-col e-col-2 e-col-xl-4 e-col-sm-12">
        <div class="flex flex-col gap-5">
          <h2 class="footer-heading">Về Eduva</h2>
          <ul>
            <li>
              <a
                href="https://landing.eduva.tech"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link">
                Giới thiệu
              </a>
            </li>
            <li>
              <a
                href="https://landing.eduva.tech"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link">
                Liên hệ
              </a>
            </li>
            <li>
              <a href="#!" class="footer-link">Điều khoản</a>
            </li>
            <li>
              <a href="#!" class="footer-link">Bảo mật</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="e-col e-col-2 e-col-xl-4 e-col-sm-12">
        <div class="flex flex-col gap-5">
          <h2 class="footer-heading">Sản phẩm</h2>
          <ul>
            <li>
              <a
                href="https://landing.eduva.tech"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link">
                Giới thiệu EDUVA
              </a>
            </li>
            <li>
              <a
                href="https://school.eduva.tech"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link">
                Quản lý trường học
              </a>
            </li>
            <li>
              <a
                href="https://school.eduva.tech"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link">
                Quản lý lớp học & tài liệu
              </a>
            </li>
            <li>
              <a
                href="https://school.eduva.tech"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link">
                Duyệt tài liệu
              </a>
            </li>
            <li>
              <a
                href="https://student.eduva.tech"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link">
                Học trực tuyến
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="e-col e-col-2 e-col-xl-4 e-col-sm-12">
        <div class="flex flex-col gap-5">
          <h2 class="footer-heading">Công cụ</h2>
          <ul>
            <li>
              <a
                href="https://school.eduva.tech"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link">
                Tạo bài giảng tự động
              </a>
            </li>
            <li>
              <a href="#!" class="footer-link">Ứng dụng học tập</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="e-col e-col-3 e-col-xl-12">
        <div class="flex flex-col gap-5">
          <h2 class="footer-heading">
            EDUVA - Nền tảng hỗ trợ tạo bài giảng đa phương tiện
          </h2>
          <ul>
            <li>
              <b>Ngày ra mắt: </b>
              <time datetime="25/05/2025">25/05/2025</time>
            </li>
            <li class="mt-2">
              <b>Lĩnh vực: </b>
              Giáo dục, công nghệ - trí tuệ nhân tạo. EDUVA giúp giáo viên biến
              nội dung bài học khô khan thành bài giảng sinh động, chất lượng và
              dễ dàng quản lý.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="e-row">
      <div class="e-col e-col-12">
        <div
          class="mt-12 flex w-full justify-between sm:flex-col sm:text-center">
          <p>
            © {{ currentYear() }} EDUVA - Nền tảng hỗ trợ tạo bài giảng đa
            phương tiện
          </p>
          <p class="sm:mt-3">
            UI designed with
            <fa-icon
              [icon]="'heart'"
              class="relative top-[2px] text-lg text-[#eb2c3b]"></fa-icon>
            by F8
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
